<!DOCTYPE html>

<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Principal</title>
</head>
    {% extends "core/base.html" %}
	{% load static %}
    	{% block content %}
			{% if request.user.is_authenticated %}

			<header class="header">
				<div class="container">
					<div class="btn-menu">
						<label for="btn-menu">☰</label>
					</div>
					<div class="logo">
						<h4>Bienvenido {{ user.username | upper }}</h4>
					</div>
					<nav class="menu">
						<a href="#">Inicio</a>
						<a href="#">Nosotros</a>
						<a href="#">Blog</a>
						<a>
							<form action="{% url 'logout' %}" method="post">
								{% csrf_token %}
								<button type="submit">Cerrar sesión</button>
							</form>
						</a>
					</nav>
				</div>
			</header>
			<!-- Menú desplegable -->
			<div class="capa"></div>
			<input type="checkbox" id="btn-menu">
			<div class="container-menu">
				<div class="cont-menu">
					<nav>
						<a href="{% url 'home' %}">Principal</a>
						<a href="{% url 'personalcc' %}">Personal CallCenter</a>
						<a href="{% url 'generate_report' %}">Reporte CallCenter</a>
						<a href="{% url 'whaticket' %}">MSJ Whaticket</a>
						<a href="{% url 'redessociales' %}">Redes Sociales</a>
						<a href="{% url 'ventascc' %}">Ventas CallCenter</a>
						<a href="{% url 'ventasvirtuales' %}">Ventas Virtuales</a>
						<a href="{% url 'personal_cajero' %}">Personal Cajero</a>
						<a href="{% url 'reportecaja' %}">Reporte Caja</a>
					</nav>
					<label for="btn-menu">✖️</label>
				</div>
			</div>
			<body>
				<div class="image-container">
					<img src = "{% static "Images/Logo.png" %}" alt="Telecable">
				</div> 
			</body>

			</div>
			{% endif %}
		{% endblock %}
</html>